JSON Files/Fetch-Tool-Agent5_Escalation-Complaints-log_complaint_enquiry.json
{
  "name": "Fetch-Tool-Agent5_Escalation-Complaints-log_complaint_enquiry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "702aa50b-dcbb-4625-aba4-3b18241836f7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        -112
      ],
      "id": "be98541d-c2e2-43b6-aa5f-3b4a0efeb2c9",
      "name": "Receive Escalation Enquiry Data",
      "webhookId": "702aa50b-dcbb-4625-aba4-3b18241836f7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe3e1217-1301-4966-a5ab-3982b93e3313",
              "name": "Transcription",
              "value": "={{ $json.body.call.transcript }}",
              "type": "string"
            },
            {
              "id": "b42cc240-d56b-489e-af4a-aee95e9ffaa2",
              "name": "Call-ID",
              "value": "={{ $json.body.call.call_id }}",
              "type": "string"
            },
            {
              "id": "1cf1a5d6-b38d-43f0-b400-9b3b747607f8",
              "name": "caller_email",
              "value": "={{ $json.body.args.caller_email }}",
              "type": "string"
            },
            {
              "id": "9376fdc4-04a1-4067-a618-327efd3bdda7",
              "name": "caller_name",
              "value": "={{ $json.body.args.caller_name }}",
              "type": "string"
            },
            {
              "id": "71a2e637-3a61-4a3b-9e54-d91ca5604eeb",
              "name": "caller_phone",
              "value": "={{ $json.body.args.caller_phone }}",
              "type": "string"
            },
            {
              "id": "1c9ddbb5-0c5a-4675-a56b-7ade2e225482",
              "name": "enquiry_summary",
              "value": "={{ $json.body.args.enquiry_summary }}",
              "type": "string"
            },
            {
              "id": "c94ffbf8-b7a9-4aa4-9931-2882382031fc",
              "name": "CallTime",
              "value": "={{ DateTime.local().setZone('Australia/Melbourne').toFormat('yyyy-MM-dd HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -112
      ],
      "id": "2793b9d2-c2e2-479c-84db-2effe60ccf4d",
      "name": "General Enquiry Vars"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb68e0e3-5f7e-4a94-89fa-07212db6b6eb",
              "name": "GeneralEmail",
              "value": "troy+complaint1@tronic.com.au",
              "type": "string"
            },
            {
              "id": "160a5ec7-03bd-48f2-a0af-53599d5a9f08",
              "name": "EmailSubjectGeneral",
              "value": "Complaint or Problematic Enquiry",
              "type": "string"
            },
            {
              "id": "614ed261-a98c-4b94-aea9-b6a8733bc1ea",
              "name": "EmailBodyGeneral",
              "value": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Complaint / Problematic Enquiry</title>\n<style>\n  body { margin:0; padding:0; background:#f4f4f4; font-family:Arial,Helvetica,sans-serif; color:#111; }\n  .email-wrap { max-width:640px; margin:24px auto; background:#fff; border:1px solid #e6e6e6; border-radius:8px; overflow:hidden; box-shadow:0 2px 6px rgba(0,0,0,0.06); }\n  .header { background:#fff; border-bottom:1px solid #e6e6e6; padding:16px 20px; text-align:left; }\n  .header img { height:40px; width:auto; }\n  .title { font-size:20px; font-weight:700; margin:0; padding:20px; border-bottom:1px solid #f0f0f0; background:#fafafa; }\n  .section { padding:20px; }\n  .section h3 { margin:0 0 8px; font-size:14px; font-weight:700; color:#555; text-transform:uppercase; }\n  .section p { margin:0 0 16px; font-size:15px; }\n  .highlight { background:#f5eaea; border-left:4px solid #d21e2b; padding:12px; border-radius:4px; font-style:italic; }\n  .spacer { margin-top:24px; }\n  .footer { background:#fafafa; border-top:1px solid #e6e6e6; text-align:center; padding:16px; font-size:13px; color:#666; }\n  .footer a { color:#d21e2b; text-decoration:none; font-weight:700; }\n  .transcript-block { background:#f5eaea; border-left:4px solid #d21e2b; padding:12px; border-radius:4px; font-style:italic; }\n  .transcript-block pre { margin:0; white-space:pre-wrap; font-family:Arial,Helvetica,sans-serif; font-size:15px; }\n</style>\n</head>\n<body>\n  <div class=\"email-wrap\">\n    <div class=\"header\">\n      <img src=\"https://lirp.cdn-website.com/d9af49c1/dms3rep/multi/opt/Fetch-Recruitment-lock-up+640x250px-261w.png\" alt=\"Fetch Recruitment\">\n    </div>\n    <h1 class=\"title\">Complaint / Problematic Enquiry</h1>\n    <div class=\"section\">\n      <h3>Call Start Time</h3>\n      <p>{{ $json.CallTime }}</p>\n      <h3>Call ID</h3>\n      <p>{{ $json['Call-ID'] }}</p>\n      <h3>Caller Name</h3>\n      <p>{{ $json.caller_name }}</p>\n      <h3>Phone</h3>\n      <p>{{ $json.caller_phone }}</p>\n      <h3>Email</h3>\n      <p>{{ $json.caller_email }}</p>\n      <h3>Complaint Details</h3>\n      <div class=\"highlight\">{{ $json.enquiry_summary }}</div>\n      <div class=\"spacer\"></div>\n      <h3>Transcript</h3>\n      <div class=\"transcript-block\">\n        <pre>{{ $json.Transcription }}</pre>\n      </div>\n    </div>\n    <div class=\"footer\">\n      <a href=\"https://www.fetchrecruitment.com.au/\">fetchrecruitment.com.au</a><br>\n      We are committed to resolving your issue promptly and will follow up soon.<br>\n      &copy; 2025 Fetch Recruitment\n    </div>\n  </div>\n</body>\n</html>",
              "type": "string"
            },
            {
              "id": "33884c8f-510a-49d1-a0e9-eb295ea6b3a9",
              "name": "ManagerEmail",
              "value": "troy+complaint2@tronic.com.au",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -112
      ],
      "id": "27256672-125c-4a64-b5fa-708a9ee4f12b",
      "name": "Email General Inbox"
    },
    {
      "parameters": {
        "isBodyHtml": true,
        "subject": "={{ $json.EmailSubjectGeneral }}",
        "body": "={{ $json.EmailBodyGeneral }}",
        "fromEmail": "noreply@tronic.com.au",
        "toAddresses": [
          "={{ $json.GeneralEmail }}",
          "={{ $json.ManagerEmail }}"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsSes",
      "typeVersion": 1,
      "position": [
        368,
        -112
      ],
      "id": "71b02a18-651b-493b-ac8e-7131e8764575",
      "name": "Send an email",
      "credentials": {
        "aws": {
          "id": "8oLi1zGdnDVLjgaJ",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"tool_call_results\": [\n    {\n      \"tool_call_id\": \"{{ $('General Enquiry Vars').item.json['Call-ID'] }}\",\n      \"output\": {\n        \"result\": \"General enquiry has been logged and forwarded to the Fetch Recruitment team.\"\n      }\n    }\n  ]\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        -112
      ],
      "id": "d40ca25f-3168-4206-acc1-c852446f94d4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "General Enquiry Vars": {
      "main": [
        [
          {
            "node": "Email General Inbox",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email General Inbox": {
      "main": [
        [
          {
            "node": "Send an email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Escalation Enquiry Data": {
      "main": [
        [
          {
            "node": "General Enquiry Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea00476e-1e8d-41b4-be3b-30572cbf4774",
  "meta": {
    "instanceId": "ff64ff050002116963c45fd099f24dfcd241aea6cbeef21a6321b7b4f9a8432a"
  },
  "id": "KahhLmM1XBBnjonH",
  "tags": []
}