JSON Files/Fetch-Tool-Agent1_JobEnquiry-Save-Gsheet-2-DataStore.json
{
  "name": "Fetch-Tool-Agent1_JobEnquiry-Save-Gsheet-2-DataStore",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                3,
                5
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -80
      ],
      "id": "027c95ce-ab0c-457a-a7ba-9565f4f51f0a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XNVlns3_ZP7wgxUtbparyTuEuxhFiJsKhcjpw9ZtPjw",
          "mode": "list",
          "cachedResultName": "Fetch - Recruiter List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XNVlns3_ZP7wgxUtbparyTuEuxhFiJsKhcjpw9ZtPjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Recruiters",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XNVlns3_ZP7wgxUtbparyTuEuxhFiJsKhcjpw9ZtPjw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -80
      ],
      "id": "dbc72cca-bd53-45b2-97bf-d232714a0e65",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OXaVgiPbD5zIfAsX",
          "name": "troypaas@gmail.com Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "wicf6lIFfdJVp7cz",
          "mode": "list",
          "cachedResultName": "troy",
          "cachedResultUrl": "/projects/GbvALranFj1esqfP/datatables/wicf6lIFfdJVp7cz"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Recruiter_Name",
              "condition": "ilike",
              "keyValue": "={{ $json['Recruiter Name'] }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Recruiter_Name": "={{ $json['Recruiter Name'] }}",
            "Enquire_they_receive": "={{ $json['Enquires they receive'] }}",
            "specify_role_they_recruiter_for": "={{ $json['Specific role they recruiter for'] }}",
            "Accual_State": "={{ $json['Accual State'] }}",
            "State": "={{ $json.State }}",
            "Staff_Email": "={{ $json['Staff email'] }}",
            "Team": "={{ $json.Team }}",
            "extra": "={{ $json.col_9 }}"
          },
          "matchingColumns": [
            "Recruiter_Name"
          ],
          "schema": [
            {
              "id": "Recruiter_Name",
              "displayName": "Recruiter_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Staff_Email",
              "displayName": "Staff_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "specify_role_they_recruiter_for",
              "displayName": "specify_role_they_recruiter_for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Accual_State",
              "displayName": "Accual_State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Enquire_they_receive",
              "displayName": "Enquire_they_receive",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Team",
              "displayName": "Team",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "extra",
              "displayName": "extra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        48,
        -80
      ],
      "id": "3e354163-9057-4f43-9e52-9cbe4c9cab70",
      "name": "Upsert row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e7cbd653-827d-48db-a94c-82716de876c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff64ff050002116963c45fd099f24dfcd241aea6cbeef21a6321b7b4f9a8432a"
  },
  "id": "zaMHMOkbvJ5bFY1H",
  "tags": []
}